/*DOCUMENTO CSS*/
*{margin: 0px;
padding: 0px;}

body {background-color: rgb(29, 112, 190);
        font-family: "Nunito", sans-serif;}

h1 {background-color: rgb(207, 181, 231);
    padding: 16px;
    margin: 0px;
    text-align: center;
    color: darkblue; }

ol {background-color: azure;
    width: 20%}
    
    