/*DOCUMENTO CSS*/
*{ margin: 0px; 
padding: 0px;}

body {background-color: rgb(211, 99, 231);}

h1 {background-color: rgb(195, 22, 22);
    padding: 16px;
text-align: center; 
color: aliceblue; }

.Tablas {width: 50%;
        margin: 24px auto; 
        background-color: floralwhite;
        text-align: center; }

.Horario {width: 50%; 
        margin: 24px auto;
        background-color: rgb(255, 255, 255);
        text-align: center;}